h1{
    font-family: Helvetica, sans-serif;
    font-style: italic;
    text-decoration: underline;
}
h2{
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
}
h6{
    text-align: right;
  }
body
    {
    height: auto;
    width: auto;
    }
